<div>
      <form  (ngSubmit)='add()'>
        <mat-card>
          <mat-card-content>
            <mat-form-field *ngIf='!showTxtBox'>
              <mat-select placeholder="Daily Expenses" name='exp' [(ngModel)]='exp' >
                <mat-option value='Fuel'>
                  Fuel
                </mat-option>
                <mat-option value='Food'>
                  Food
                </mat-option>
                <mat-option value='Traveling'>
                  Traveling
                </mat-option>
                <mat-option (click)='showTextBox()'>
                  other
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" *ngIf='showTxtBox'>
              <input matInput type="text" placeholder="other" name='exp' [(ngModel)]='exp' >
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Price" name='price' [(ngModel)]='price' >
            </mat-form-field>


          </mat-card-content>
          <mat-card-actions>
            <button  id='saveBtn' color="primary" mat-button >Save</button>
          </mat-card-actions>

        </mat-card>
      </form>
      <!--<button mat-button (click)='toGetData()'>toGetData</button>-->
    </div>

