<mat-tab-group>
  <mat-tab label="Add Expense List">
    <app-save-daily-exp>
    </app-save-daily-exp>

  </mat-tab>
  <mat-tab label="Daily Expenses List">
    <app-daily-exp-list>
    </app-daily-exp-list>
  </mat-tab>

  <mat-tab label="Review Current Expenses ">
    <app-review-current-exp>
    </app-review-current-exp>
  </mat-tab>

  <mat-tab label="One By One View ">
    <app-one-by-one-view>
    </app-one-by-one-view>
  </mat-tab>

  <mat-tab label="Search In Current Expenses ">
    <app-search-expense>
    </app-search-expense>
  </mat-tab>
  
  <mat-tab label="Daily Expenses Graph ">
    <app-daily-exp-graph>
    </app-daily-exp-graph>

  </mat-tab>




</mat-tab-group>